.git/**
.gitignore
.gitkeep
.github/**
node_modules/**
!node_modules/prettier/
!node_modules/prettier/**
packages/prettier-plugin-eta/**
scripts/**
src/**
tests/**
tsconfig*.json
samples/**
CONTRIBUTING.md
